@font-face {
                font-family: TT;
                font-display: swap;
                src: url("../fonts/TT-Hoves-Pro-Trial-Bold.woff2") format("woff2"),
                    url("../fonts/TT-Hoves-Pro-Trial-Bold.woff") format("woff");
                font-weight: 400;
                font-style: normal;
                }
@font-face {
                font-family: TT;
                font-display: swap;
                src: url("../fonts/TT-Hoves-Pro-Trial-BoldItalic.woff2") format("woff2"),
                    url("../fonts/TT-Hoves-Pro-Trial-BoldItalic.woff") format("woff");
                font-weight: 400;
                font-style: normal;
                }
@font-face {
                font-family: TT;
                font-display: swap;
                src: url("../fonts/TT-Hoves-Pro-Trial-Italic.woff2") format("woff2"),
                    url("../fonts/TT-Hoves-Pro-Trial-Italic.woff") format("woff");
                font-weight: 400;
                font-style: normal;
                }
@font-face {
                font-family: TT;
                font-display: swap;
                src: url("../fonts/TT-Hoves-Pro-Trial-Medium-Italic.woff2") format("woff2"),
                    url("../fonts/TT-Hoves-Pro-Trial-Medium-Italic.woff") format("woff");
                font-weight: 400;
                font-style: normal;
                }
@font-face {
                font-family: TT;
                font-display: swap;
                src: url("../fonts/TT-Hoves-Pro-Trial-Medium.woff2") format("woff2"),
                    url("../fonts/TT-Hoves-Pro-Trial-Medium.woff") format("woff");
                font-weight: 400;
                font-style: normal;
                }
@font-face {
                font-family: TT;
                font-display: swap;
                src: url("../fonts/TT-Hoves-Pro-Trial-Regular.woff2") format("woff2"),
                    url("../fonts/TT-Hoves-Pro-Trial-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
                }
