.h1,
.h2 {
    line-height: 150%;
    font-weight: 500;
    letter-spacing: normal;
}

.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 24px;

    @media (max-width: 767px) {
        font-size: 17px;
        line-height: 125%;
    }
}

.subtitle {
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
}

.text {
    &--m {
        font-size: 14px;
        line-height: 120%;
    }

    &--s {
        font-size: 12px;
        line-height: 140%;
    }
}

.caption {
    &--m {
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
    }

    &--s {
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
    }
}

.description {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    text-transform: uppercase;
}

.link {
    line-height: 150%;
    font-weight: 500;
    text-transform: uppercase;

    &--m {
        font-size: 14px;
    }

    &--s {
        font-size: 12px;
    }
}
