$generalFont: "TT Hoves Pro Trial";

$maxWidthContainer: 1200px;

$generalWhite: #fff;
$generalWhite80: rgba(255, 255, 255, 0.8);
$generalWhite60: rgba(255, 255, 255, 0.6);
$generalWhite40: rgba(255, 255, 255, 0.4);
$generalWhite20: rgba(255, 255, 255, 0.2);

$generalBlue: #212256;
$generalBlue80: rgba(33, 34, 86, 0.8);
$generalBlue60: rgba(33, 34, 86, 0.6);
$generalBlue40: rgba(33, 34, 86, 0.4);
$generalBlue20: rgba(33, 34, 86, 0.2);

$generalRed: #c01e2e;
$generalRed80: rgba(192, 30, 46, 0.8);
$generalRed60: rgba(192, 30, 46, 0.6);
$generalRed40: rgba(192, 30, 46, 0.4);
$generalRed20: rgba(192, 30, 46, 0.2);
